.navbar {
  background-color: #0094ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 20px;
}
